<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>AgriGO</display-name>

    <!-- Registration Servlet -->
    <servlet>
        
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>


    <!-- Login Servlet -->
    <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern> </servlet-mapping>
    
<servlet>
    <servlet-name>ViewData</servlet-name>
    <servlet-class>ViewDataServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ViewData</servlet-name>
    <url-pattern>/showData</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>AddProd</servlet-name>
    <servlet-class>AddProductServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddProd</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
</servlet-mapping>

</web-app>